body {
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
    margin-bottom:1 rem;
}

.row {
  margin-bottom: 1rem;
}

.table {
  padding-top: 1rem;
  padding-bottom: 1rem;
/*
  border:  1rem solid;
border-color: aquamarine;
*/
/*  border-collapse: separate;*/
/*   background-color: rgba(86, 61, 124, .15);*/
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: gray;
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }